.title {
	font-size:12vmin;
    margin: 0;
	color:white; 
	margin-left: auto; 
	margin-right: auto;
}
.subtitle {
	font-size:4vmin;
    margin: 0;
	color:white; 
	margin-left: auto; 
	margin-right: auto;
}

div {
	text-align: center;
	gap: 5%;
}

body {
	background: linear-gradient(-45deg, #16155b, #251538, #060c30, #0c495f);
	background-size: 800% 800%;
	animation: gradient 10s ease infinite;
	height: 500vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}