body {
	background: linear-gradient(-45deg, #16155b, #251538, #060c30, #0c495f);
	background-size: 800% 800%;
	animation: gradient 10s ease infinite;
	height: 500vh;
	color: #000;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.home-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: red;
}

.title-container {
	display: flex;
	flex-wrap: wrap;
	height: 50vh;
	width: 100%;
	background-color: green;
}
.terminal-container {
	display: flex;
	flex-wrap: wrap;
	background-color: blue;
	
}
.social-media-container {
	display: flex;
	flex-wrap: wrap;
	background-color: yellow;
	margin-left: 0px;
}

.flex-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
	height: 100vh;
}

.windows-title {
	margin-right: 50%;
}

.social-media-bar {
	display: inline-block;
}

.terminal-window {
	margin-top: 300px;
	display: inline-block;
}