.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width:15%;
  }
  
  img{
    width: 100%;
  }
  .element1 {
    flex: 1;
    padding:10px;
  }
  .element2 {
    flex: 1;
    padding:10px;
  }
  .element3 {
    flex: 1;
    padding:10px;
  }